/* General */

:root {
	--primary-color: #bc8c77;
	--secondary-color: #eed2d1;
	--dark-color: #151616;
}


* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}


html {
	font-size: 62.5%;
	font-family: 'Poppins', sans-serif;
}

body {
	background-color: var(--primary-color);
}

.container {
	max-width : 1000px;
	margin: 0 auto;
	padding: 0 5px;
	display: flex;	
}



/* ****** */
/* HEADER */
/* ****** */


header {
	background-color: var(--dark-color);
	opacity: 0.95;
	width: 100%;
    color: white;
	position: fixed;
	z-index: 10;
}

.header {
    display: flex;
    flex-direction: column;
}

.logo-container {
    display: flex;
    justify-content: space-between;
    padding: 10px 20px;
}

.mask-nav {
	-webkit-mask-image: url(/assets/LOGO_BG_Brow_mask.svg);
	mask-image: url(/assets/LOGO_BG_Brow_mask.svg);
	-webkit-mask-repeat: no-repeat;
	mask-repeat: no-repeat; 
	-webkit-mask-size: 100%;
	mask-size: 100%;
	-webkit-mask-position: center;
	mask-position: center;
	display: flex;
}

.mask-nav img {
	margin: auto;
}


.list-button {
    display: flex;
    flex-direction: column;
    justify-content: center;
	height: 56px;
}

.menu-icon {
	transform: rotate(0deg) scale(2);
	height: auto;
}

.cancel-icon {
	transform: rotate(0deg) scale(0);
	height: 0;
}


.main-nav {
	display: flex;
    flex-direction: column;
	justify-content: center;
	flex-grow: 1;
    overflow: hidden;
}


.list-item {
	text-decoration: none;	
	padding: 5px; 
    text-align: center;
	font-size: 1.8rem;
}

.nav-link {
    color: var(--secondary-color);
    text-decoration: none;
}

.list-show {
	list-style: none;
	display: flex;
	flex-direction: column;
	transition: height .6s;
	height: 0;
}


/* ****** */
/*  MAIN  */
/* ****** */

main {
	width : 100%;
    display: flex;
    flex-direction: column;
}


/*  Portrait  */

.portrait {	
	height: 560px;
	background-image: url("/assets/portrait-mobile.jpg"); 
	background-repeat: no-repeat; 
	background-position: top;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}


.title-section {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.main-logo {
	height: 280px;
	margin-top: 80px;
}

.main-logo img {
	max-height: 100%;
	transform: scale(0.9);
}


.title {
	background-color: rgba(256,256, 256,0.3);
	padding: 10px;
	margin: auto;
}


h1 {
	color: var(--secondary-color);
	font-size: 3.6rem;
	text-align: center;
	font-weight: 300;
}

.title-section h2 {
	color: var(--secondary-color);
	font-size: 1.2rem;
	text-align: center;
	font-weight: 200;
}



/*  Services  */


.services-section {
	width: 100%;
	justify-content:center;	
	align-items:center;
	flex-wrap: wrap;
	padding: 10px 0;
}

.box {
	
	margin: 20px;
	width: 135px;
	height: 180px;
    box-shadow: 0 0 4px 0px; 
	background-repeat: no-repeat; 
	background-position: center;
	background-size: cover;	
	display: flex;
}

.box1 {
	background-image: url("/assets/cejas.jpg");
}

.box2 {
	background-image: url("/assets/pest.jpg");
}

.box3 {
	background-image: url("/assets/pest.jpg");
}

.box4 {
	background-image: url("/assets/cejas.jpg");
}

.box img {
	max-width: 100%;
	
}

.box a {
	
	text-align: center;
	text-decoration: none;
	color: white;
	font-size: 1.6rem;
	font-weight: 100;
	margin: auto;

}

.box h3 {	
	font-weight: 300;
}

/*  Mapa  */

.ubication-section {
	align-items: center;	
	justify-content: center;
}

.map {
	/* border: 10px solid white; */
    box-shadow: 0 0 4px 0px; 
	display: flex;
	padding: 0;
	margin-bottom: 40px;
}

.map iframe {
	width: 100%;
	margin: 0;
}


/* ****** */
/* FOOTER */
/* ****** */


footer {
	background-color: var(--dark-color);
	width: 100%;
    color: white;
}

.footer {
    display: flex;
    flex-direction: column;
}
.footer-left {
    display: flex;
	flex-direction: column;
    justify-content: center;   
}

.footer-info {
	display: flex;
	justify-content: center;
	padding: 4px 0;   
}

.footer-right {
    display: flex;
    justify-content: center;
}

.icon-img {
    margin-right: 5px;
}

.rrss-img {
    padding: 5px 12px;
}

footer p {
    text-align: center;
    color: var(--secondary-color);
	font-size: 1.2rem;
	font-weight: 300;
}

